.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
dist/
build/
.venv/
.idea/
.vscode/
.ruff_cache/
._pyproject.toml
._README.md
._license.txt
._LICENSE
._itchamps_timesheet
._docs
._.pre-commit-config.yaml
._.gitignore
._.editorconfig
._.git
._.github
._*
__MACOSX/
